<div class="w-full min-h-[calc(100vh-54px)] flex items-center justify-center bg-gradient-to-br from-blue-500 to-purple-600 text-white">

  <div class="text-center max-w-2xl px-4">

    <h1 class="text-5xl font-bold mb-4 font-Bruno">
      SmartTask Pro
    </h1>

    <p class="text-lg mb-6 text-gray-200">
      Manage your tasks efficiently with priorities, deadlines, and smart suggestions.
    </p>

    <div class="space-x-4">

      <a routerLink="/dashboard"
         class="bg-white text-blue-600 px-6 py-2 rounded-lg font-medium hover:bg-gray-200 transition">
        Go to Dashboard
      </a>

      <a routerLink="/add-task"
         class="border border-white px-6 py-2 rounded-lg hover:bg-white hover:text-blue-600 transition">
        Add Task
      </a>

    </div>

  </div>

</div>

<app-features></app-features>
<app-footer></app-footer>